/* .card{
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border: 0.5px solid white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    height: auto;
    color: white;
} */

/* .card:hover{
    cursor: pointer;
} 
    
/* .card_cover{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
} 
    
.gradient{
    background-image: linear-gradient(rgb(116, 116, 116), rgb(18, 18, 18, 0.1));
    opacity: 0.5;
}

*/


.card2{
    aspect-ratio: 1 / 1;
    width: 100%;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    transition-duration: 500ms;
    z-index: 0;
    background-size: cover;
}

.card2:hover{
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow-color: #3f3f46;
    --tw-shadow: var(--tw-shadow-colored);
}

.card2:hover .card_track {
    font-size: 2rem; /* Increase font size on hover */
}

.gradient2{
    background-image: linear-gradient(rgb(28, 25, 23, 0), rgb(28, 25, 23, 0.2), rgb(28, 25, 23, 0.2), rgb(28, 25, 23, 1));
    z-index: 1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    color: white;
    align-items: flex-end;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.gradient2:hover{
    cursor: pointer;
}

.card_album{
    margin-left: 24px;
    margin-right: 24px;
    font-size: 14px;
    margin-top: 16px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_track{
    margin-left: 24px;
    margin-right: 24px;
    font-size: 26px;
    line-height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: font-size 0.5s ease;
}

.card_artist{
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#card_list{
    font-family: "Spotify";
}

@media only screen and (min-width: 1280px){
    #card_list{
        display: grid;
        gap: 56px;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1280px){
    #card_list{
        gap: 30px;
    }

    .card_album{
        font-size: 12px;
    }
    
    .card_track{
        font-size: 22px;
    }
    
    .card_artist{
        font-size: 14px;
    }

    .card2:hover .card_track {
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px){
    #card_list{
        gap: 30px;
        grid-template-columns: repeat(3, minmax(0, 1fr));;
    }

    .card_album{
        font-size: 14px;
    }
    
    .card_track{
        font-size: 26px;
    }
    
    .card_artist{
        font-size: 16px;
    }

    .card2:hover .card_track {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 850px) and (max-width: 1024px){
    #card_list{
        gap: 30px;
        grid-template-columns: repeat(3, minmax(0, 1fr));;
    }

    .card_album{
        font-size: 12px;
    }
    
    .card_track{
        font-size: 22px;
    }
    
    .card_artist{
        font-size: 14px;
    }

    .card2:hover .card_track {
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 850px){
    #card_list{
        gap: 30px;
        grid-template-columns: repeat(3, minmax(0, 1fr));;
    }

    .card_album{
        font-size: 10px;
    }
    
    .card_track{
        font-size: 18px;
    }
    
    .card_artist{
        font-size: 12px;
    }

    .card2:hover .card_track {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 640px) and (max-width: 768px){
    #card_list{
        gap: 30px;
        grid-template-columns: repeat(2, minmax(0, 1fr));;
    }

    .card_album{
        font-size: 14px;
    }
    
    .card_track{
        font-size: 26px;
    }
    
    .card_artist{
        font-size: 16px;
    }

    .card2:hover .card_track {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 550px) and (max-width: 640px){
    #card_list{
        gap: 30px;
        grid-template-columns: repeat(2, minmax(0, 1fr));;
    }

    .card_album{
        font-size: 12px;
    }
    
    .card_track{
        font-size: 22px;
    }
    
    .card_artist{
        font-size: 14px;
    }

    .card2:hover .card_track {
        font-size: 1.7rem;
    }

    #mySongs{
        font-size: 50px;
        text-align: center;
    }
}

@media only screen and (min-width: 550px) and (max-width: 640px){
    #card_list{
        gap: 15px;
        grid-template-columns: repeat(2, minmax(0, 1fr));;
    }

    .card_album{
        font-size: 10px;
    }
    
    .card_track{
        font-size: 20px;
    }
    
    .card_artist{
        font-size: 12px;
    }

    .card2:hover .card_track {
        font-size: 1.7rem;
    }

    #mySongs{
        font-size: 50px;
        text-align: center;
    }
}

@media only screen and (max-width: 640px){
    .lyrics{
        display: none;
    }
}

@media only screen and (min-width: 475px) and (max-width: 550px){
    #card_list{
        gap: 15px;
        grid-template-columns: repeat(1, minmax(0, 1fr));;
    }

    .card_album{
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .card_track{
        font-size: 42px;
        margin-bottom: 8px;
        line-height: 50px;
    }
    
    .card_artist{
        font-size: 24px;
    }

    .card2:hover .card_track {
        font-size: 46px;
    }

    #mySongs{
        font-size: 50px;
        text-align: center;
    }
}

@media only screen and (min-width: 400px) and (max-width: 475px){
    #card_list{
        gap: 15px;
        grid-template-columns: repeat(1, minmax(0, 1fr));;
    }

    .card_album{
        font-size: 14px;
        line-height: 20px;
    }
    
    .card_track{
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 8px;
    }
    
    .card_artist{
        font-size: 16px;
        line-height: 24px;
    }

    .card2:hover .card_track {
        font-size: 2rem;
    }

    #mySongs{
        font-size: 50px;
        text-align: center;
    }
}

@media only screen and (min-width: 350px) and (max-width: 400px){
    #card_list{
        gap: 15px;
        grid-template-columns: repeat(1, minmax(0, 1fr));;
    }

    .card_album{
        font-size: 13px;
        line-height: 20px;
    }
    
    .card_track{
        font-size: 22px;
        line-height: 32px;
    }
    
    .card_artist{
        font-size: 15px;
        line-height: 24px;
    }

    .card2:hover .card_track {
        font-size: 30px;
    }

    #mySongs{
        font-size: 50px;
        text-align: center;
    }
}